@font-face {
    font-family: Font1;
    src: url(./Asserts/sf-pro-display_regular.ttf);
}

@font-face {
    font-family: iFont1;
    src: url(./Asserts/sf-pro-icons_regular.ttf);
}
@font-face {
    font-family: pFont1;
    src: url(./Asserts/sf-pro-icons_regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Font1;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: white;
}

#main{
    width: 100%;
    min-height:100vh;
    gap: 2vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    width: 100%;
    height:5vh;
    background-color: #fafafc;
    justify-content: center;
    align-items: center;
    gap: 2.1vw;
    opacity: 0.9;
    position: fixed;
    z-index: 100;
}

.navbar a{
    text-decoration: none;
    color: #161617;
}

.navbar i{
    font-size: 1.1vw;
    font-family: iFont1;   
}

.hero1{
    display: flex;
    width: 100%;
    height:80vh;
    background-image: url(./Asserts/hero_iphone_16e_avail__fezxa3z6yxme_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;

}

.hero1-text{
    position: absolute;
    display: flex;
    top: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vh;
}

.hero1-text h1{
    font-size: 3.5vw;
    
}

.hero1-text h1 span{
    background-image: linear-gradient(209deg, #ea6044 39%, #dc5083 50%, #9a6df7 67%, #3f8def 81%);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    color: transparent
}

.hero1-text p{
    font-size: 1.8vw;
    font-family: Font1;
}

.foot{
    position: absolute;
    display: flex;
    top: 70%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.foot p{
    font-family: Font1;
    font-size: 1.5vw;
    background-image: linear-gradient(209deg, #ea6044 39%, #dc5083 50%, #9a6df7 67%, #3f8def 81%);
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
    color: transparent
}

.btncls{
    display: flex;
    gap: 1vw;
    margin-top: 1.4vh;
}

button{
    border-radius: 50px;
    padding: 1vh 1.4vw;
    border: none;
    background-color: #0071e3;
    color: white;
    height: 6vh;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 400;
    
}

#buybtn{
    border: #0071e3 1px solid;
    background-color: transparent;
    color: #0071e3;
    transition: .3s smooth ease-in-out;
}

#buybtn:hover{
    background-color: #0071e3;
    color: white;
}

.hero2{
    display: flex;
    width: 100%;
    height:80vh;
    background-image: url(./Asserts/hero_iphone16pro_avail__fnf0f9x70jiy_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.hero2-text{
    position: absolute;
    display: flex;
    top: 85%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vh;
}

.hero2-text h1{
    font-size: 3.5vw;
    color: white;
}

.hero2-text p{
    font-size: 1.8vw;
    font-family: Font1;
    color: white;
}

.btncls2{
    display: flex;
    gap: 1vw;
    margin-top: 1.4vh;
    position: relative;
    top: 35%;
}



.hero3{
    display: flex;
    width: 100%;
    height:80vh;
    background-image: url(./Asserts/hero_iphone16_avail__euwzls69btea_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}


.hero3-text{
    position: relative;
    display: flex;
    top: -35%;
    left: 9%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vh;
}

.hero3-text h1{
    font-size: 3.5vw;
    color: white;
}

.hero3-text p{
    font-size: 1.8vw;
    font-family: Font1;
    color: white;
}

.btncls3{
    display: flex;
    gap: 1vw;
    margin-top: 1.4vh;
    position: relative;
    top: 35%;
    left: -9%;
}



.gridbox{
    width: 100%;
    display: flex;
    gap: 1vw;
}



.gb-1{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_apple_watch_series_10_avail__b9etp10v9tn6_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}

.gb1-text{
    position: relative;
    display: flex;
    top: -30%;
    left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;
}

.gb1-text p{
    font-size: 1.4vw;
    font-family: Font1;
}


.gb-2{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_ipadpro_avail__s271j89g8kii_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.gb1btn {
    display: flex;
    gap: 1vw;
    margin-top: 1.4vh;
    position: relative;
    top: 35%;
    left: 0%;
}

.gb1btn button{
    border-radius: 50px;
    padding: 1vh 1.4vw;
    border: none;
    background-color: #0071e3;
    color: white;
    height: 6vh;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 400;
    
}


.gb2-text{
    color: white;
    position: relative;
    display: flex;
    top: -30%;
    left: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;
}

.gb2-text p{
    font-size: 1.4vw;
    font-family: Font1;
}

.gb-2 .foot{
    position: relative;
    top: 35%;
    left: -18%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridbox2{
    width: 100%;
    display: flex;
    gap: 1vw;
}
.gb2-1{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_macbook_air_m3__e43jegok3wuq_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center; 
}

.gb2-2{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_airpods_4_avail__bl22kvpg6ez6_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.gb2-1-text{
    position: relative;
    display: flex;
    top: -30%;
    left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;   
}

.gb2-1-text p{
    font-size: 1.4vw;
    font-family: Font1;
}

.gb2-2-text{
    position: relative;
    display: flex;
    top: 30%;
    left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;  
    color: white;
}

.gridbox3{
    width: 100%;
    display: flex;
    gap: 1vw;
}
.gb3-1{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_macbookpro_announce__gdf98j6tj2ie_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center; 
}

.gb3-2{
    width: 50%;
    height: 60vh;
    display: flex;
    background-image: url(./Asserts/promo_iphone_tradein__bugw15ka691e_large.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.gb3-1-text{
    position: relative;
    color: white;
    display: flex;
    top: -30%;
    left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;   
}

.gb3-1-text p{
    font-size: 1.4vw;
    font-family: Font1;
}


.gb3-2-text{
    position: relative;
    display: flex;
    top: -30%;
    left: 0%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:1vw;  
color: black
}

.gb3-2-text p{
    font-size: 1.4vw;
    font-family: Font1;
}

.slider-part{
    width: 100%;
    height: 70vh;
    background-color: black;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide {
    width: 100%;
  }

  .footer{
    height: 50vh;
    width: 100%;
    background-color: grey;
  }

  #menu{
    display: none;
    cursor: pointer;
  }

  .navbar-mobile{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fafafc;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;
    flex-direction: column;
    z-index: 999;
    padding: 5vh;
    gap: 2vh;
    transition:height 0.5s ease-in-out;
  }


  
.navbar-mobile a{
    text-decoration: none;
    color: #161617;
    font-size: 1.5em;
}

.navbar-mobile i{
    font-size: 1.8em;
    font-family: iFont1;  
    top:2vh;
    right:2vh;
    position: absolute; 
    cursor: pointer;
}



  @media screen and (max-width: 830px) {
    .navbar i{
        font-size: 1.5em;
        top: 2vh;
        padding-right:2vw;
    }
    
    .navbar :nth-child(1){
        position:absolute;
        left: 2vh;
        top:0.8vh;
    }

    .navbar :nth-child(12){
        position: absolute;
        right: 10vh;
        top: 0.8vh;
    }
    .navbar :nth-child(13){
        position: absolute;
        right: 6vh;
        top: 0.8vh;
    }
    .navbar :nth-child(14){
        position: absolute;
        right: 2vh;
        top: 0.8vh;
    }
    #menu{
        display: block;
    }

    .nav-hide{
        display:none;
    }

    .gridbox{
        flex-direction: column;
        width: 100%;
    }

    .gridbox2{
        flex-direction: column;
        width: 100%;
    }

    .gridbox3{
        flex-direction: column;
        width: 100%;
    }

    .hero1{
        background-image: url("/Asserts/mobile/hero_iphone16e_small.jpg");
    }

    .hero1-text h1{
        font-size: 3em;
    }
    .hero1-text p{
        font-size: 1.5em;
    } 
    .foot{
        display: none;
    }
    .btncls{
        display: flex;
        gap: 1vw;
        margin-top: 1.4vh;
    }

    .gb1btn button{
        border-radius: 50px;
        padding: 1vh 2vw;
        border: none;
        background-color: #0071e3;
        color: white;
        height: 6vh;
        cursor: pointer;
        font-size: 3vw;
        font-weight: 400;
        
    }
    
    button{
        border-radius: 50px;
        padding: 1vh 2vw;
        border: none;
        background-color: #0071e3;
        color: white;
        height: 6vh;
        cursor: pointer;
        font-size: 3vw;
        font-weight: 400;
        
    }
    
    #buybtn{
        border: #0071e3 1px solid;
        background-color: transparent;
        color: #0071e3;
        transition: .3s smooth ease-in-out;
    }
    .hero2{
        background-image: url("/Asserts/mobile/hero_iphone16pro_small.jpg");
    }

    .hero2-text h1{
        font-size: 2em;
    }

    .hero2-text p{
        font-size: 1em;
    }
    .hero3{
        background-image: url("/Asserts/mobile/hero_iphone16_small.jpg");
    }


    .hero3-text{
        left:70px;
    }

    .hero3 .btncls3{
        left: -90px;
    }

    .hero3-text h1{
        font-size: 2em;
    }

    .hero3-text p{
        font-size: 1em;
    }


    .gb-1{
        background-image: url("/Asserts/mobile/promo_apple_watch_series_10_small.jpg");
    }

    .gb1-text p{
        font-size:1em;
    }


    .gb-2{
        background-image: url("/Asserts/mobile/promo_ipadpro_small.jpg");
    }

    .gb2-2-text p{
        font-size:1em;
    }
    .gb2-1{
        background-image: url("/Asserts/mobile/promo_macbook_air_m3_small.jpg");
    }
    .gb2-2{
        background-image: url("/Asserts/mobile/promo_airpods_4_small.jpg");
    }

    .gb2-text{
        left:1%;
        padding-left: 10%;
    }
    .gb2-1-text p{
        font-size:1em;
    }

    .gb3-1{
        background-image: url("/Asserts/mobile/promo_macbookpro_announce_small.jpg");
    }
    .gb3-2{
        background-image: url("/Asserts/mobile/promo_iphone_trade_small.jpg");
    }
    .gb-1,.gb-2,.gb2-1,.gb2-2,.gb3-1,.gb3-2{
        width: 100%;
        height: 50vh;
    }
    .gb3-1-text p, .gb3-2-text p{
        font-size: 1em;
    }

    .swiper-slide{
        height: 90vh;
    }
  }